<h1>Welcome to CSE Motors!</h1>

<div class="hero-area">
    <section>
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button class="cta" aria-label="Own today">Own today</button>
    </section>
</div>

<div class="more-info">
    <section>
        <h3>Delorean Upgrades
        </h3><div class="grid-up">
            <div class="upgrades">
                <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <a href="http://">Flux Capacitor</a>
            </div>
            <div class="upgrades">
                <img src="../images/upgrades/flame.jpg" alt="Flame Decals">
                <a href="http://">Flame Decals</a>
            </div>
            <div class="upgrades">
                <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <a href="http://">Bumper Stickers</a>
            </div>
            <div class="upgrades">
                <img src="../images/upgrades/hub-cap.jpg" alt="=Hub Caps">
                <a href="http://">Hub Caps</a>
            </div></div>
    </section>
    <section>
        <h3>DMC Delorean Reviews</h3>
        <ul class="reviews">
            <li>"So fast it's almost like traveling in time" (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</div>