@media only screen and (min-width: 40em)  {
    .more-info {
        flex-direction: row;
      }
    
    h1 {
        font-size: 2rem;
    }

    .navigation a {
        font-size: 2rem;
    }
    #inv-display {
        flex-direction: row;
    }

    .card-details {
        justify-content: space-around;
        flex-direction: row;
    }

    .card-details img {
        width: 650px;
        height: auto;
    }

    .more {
        padding: 3rem;
        justify-content: space-between;
    }

    .error-message {
        text-align: start;
    }

}