<div class="error-message">
    
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (message) { %>
    <p ><%= message %></p>
    <% } else { %>
        <p>An unexpected error occurred. Please try again later.</p>
    <% } %>
    <p>Go back to <a href="/">Home Page</a></p>
    
     </div>
